services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    env_file:
      - .env
    environment:
      APP_URL: http://localhost:8080
      ASSET_URL: http://localhost:8080
    depends_on:
      - db
    restart: unless-stopped

  web:
    image: nginx:1.28-alpine
    depends_on:
      - app
    ports:
      - "8080:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped

  db:
    image: postgres:18.1-alpine
    environment:
      POSTGRES_DB: studizon
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata:
